{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title> {% block title %}
      Document
      {% endblock  %}
    </title>
  </head>

  <body class='bg-dark text-light'>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
      <div class="container-fluid">
        <a class="navbar-brand btn btn-outline-info" href="{% url 'home' %}">
          Teeket-Master
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
          aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav me-auto mb-2 mb-sm-0">
            {% block nav-links %}
            <li class="nav-item">
              <a class="nav-link active" aria-current='page' href="#">Link Placeholder</a>
            </li>
          </ul>
          {% endblock nav-links %}
          <form>
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </div>
    </nav>
    <div class="content container">
      <div class="row">
        <div class='col-md-7'>
          {% block content %}
          {% endblock  %}

        </div>
      </div>
    </div>

    <nav class='navbar fixed-bottom navbar-dark bg-dark'>
      {% block bottom-nav %}
      {% endblock  %}
      <div class='justify-content-right'>
        {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a class='btn btn-outline-danger' href="{% url 'logout' %}">Log Out</a></p>
        {% else %}
        <p>You are not logged in</p>
        <a class='btn btn-outline-success'href="{% url 'login' %}">Log In</a>
        {% endif %}
      </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
  </body>

</html>